In [ ]:
# import an xls file
import pandas as pd
import xlrd

# read the file
df = pd.read_excel('riepilogo_staffette.xls')
df.head()

In [ ]:
# erase last 3 chars from every value of Staffettisti column
df['Staffettisti'] = df['Staffettisti'].map(lambda x: str(x)[:-3])

# each Staffettisti value contains 4 values separated by - so split it annd put in 4 different columns
df[['Atleta1', 'Atleta2', 'Atleta3', 'Atleta4']] = df['Staffettisti'].str.split('-', expand=True)

df.head()

In [ ]:
# replace all STAFFETTA occurences with empty string
df['Atleta1'] = df['Atleta1'].str.replace('STAFFETTA', '')
df['Atleta2'] = df['Atleta2'].str.replace('STAFFETTA', '')
df['Atleta3'] = df['Atleta3'].str.replace('STAFFETTA', '')
df['Atleta4'] = df['Atleta4'].str.replace('STAFFETTA', '')

df.head()

In [ ]:
# now build a dataframe with columns:
# Codice (empty), Societa, Categoria, Sesso, Gara, Tempo, Atleta1, Atleta2, Atleta3, Atleta4
# create it empty
df2 = pd.DataFrame(columns=['CategoriaVera', 'Codice', 'Societa', 'Categoria', 'Sesso', 'Gara', 'Tempo', 'Atleta1', 'Atleta2', 'Atleta3', 'Atleta4'])
# fill it
df2['Societa'] = df['Societ√†']
df2['CategoriaVera'] = df['Cat']
df2['Sesso'] = df['Sesso']
df2['Gara'] = df['Gara']
df2['Tempo'] = df['TempoTxt']
df2['Atleta1'] = df['Atleta1'].str.upper()
df2['Atleta2'] = df['Atleta2'].str.upper()
df2['Atleta3'] = df['Atleta3'].str.upper()
df2['Atleta4'] = df['Atleta4'].str.upper()

df2.head()

In [ ]:
# now replace every value in category like "Es. - X" with EX where X is a letter
df2['CategoriaVera'] = df2['CategoriaVera'].str.replace('Es. - ', 'E')
# replace every Z in the Sesso column with X
df2['Sesso'] = df2['Sesso'].str.replace('Z', 'X')
# in the Gara column, replace NXNNSL with NxNN Stile where N is a number
df2['Gara'] = df2['Gara'].str.replace("X", "x")
df2['Gara'] = df2['Gara'].str.replace("SL", " Stile")
df2['Gara'] = df2['Gara'].str.replace("Mx", " Mista")

df2.head()

In [ ]:
# save df2 into a csv file
df2.to_csv('staffette_dbmeeting.csv', index=False, sep=';')

In [43]:
import pandas as pd
import xlrd

# read Staffette.xlsx

df = pd.read_excel('Staffette.xlsx', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,NS EMILIA SSD A R.L.,0,M,EA,50,S,NS EMILIA SSD A R.L.,,0,"02'05""64",,2,0,,,EA,10,"1000,00",,
1,NS EMILIA SSD A R.L.,0,X,EC,25,S,NS EMILIA SSD A R.L.,,0,"01'27""11",,1,0,,,EC,12,"1000,00",,
2,NS EMILIA SSD A R.L.,0,F,EC,25,S,NS EMILIA SSD A R.L.,,0,"01'42""34",,2,0,,,EC,12,"1000,00",,
3,NS EMILIA SSD A R.L.,0,M,EC,25,S,NS EMILIA SSD A R.L.,,0,"01'26""75",,1,0,,,EC,12,"1000,00",,
4,NS EMILIA SSD A R.L.,0,X,EA,50,S,NS EMILIA SSD A R.L.,,0,"02'03""55",,1,0,,,EA,12,"1000,00",,

In [47]:
races_cols = [2, 3, 4, 5]
team_col = 6

# Create a new column 'race' that combines the values of the race columns
df['race'] = df[races_cols].apply(tuple, axis=1)

# Group by team and race, and count the number of subscriptions
df_subs = df.groupby([team_col, 'race']).size().reset_index(name='subs')

# Compute the price for each group
df_subs['price'] = df_subs['subs'].apply(lambda x: 12 if x == 1 else 20)

# Compute the total price for each team
df_total_price = df_subs.groupby(team_col)['price'].sum().reset_index()

df_total_price

                                            6  price
0                    ACQUASPORT FORLIMPOPOLI      24
1           AMICI DEL NUOTO VIGILI DEL FUOCO     164
2                             APD MARCONI 93      84
3                         ASD MOLINELLANUOTO      24
4                     CENTRO NUOTO PERSICETO     272
5    CIRCOLO POLIVALENTE OLIMPIA VIGNOLA ASD     104
6                    EQUIPE SPORTIVA SRL SSD     256
7                   GENS AQUATICA SAN MARINO      72
8               IDEE IN MOVIMENTO SSD A R.L.      12
9                      MULTISPORT PARMA SDSC      24
10                      NS EMILIA SSD A R.L.     244
11                             NUOTO 051 ASD      36
12                   NUOTO CLUB SASSUOLO ASD      72
13                    NUOTO SPRINT BORGO ASD     216
14                         POL GARDEN RIMINI     216
15                    POL. COMUNALE RICCIONE      24
16                  POLISPORTIVA G. MASI ASD     304
17        POLISPORTIVA POLIVALENTE MARANELLO      72
18                      RARI NANTES ROMAGNA      176
19                            REGGIANA NUOTO      80
20                  RINASCITA N.TEAM ROMAGNA     120
21                                SPORT 2000     164
22                              SPORT SPIRIT      48
23                             SSD ALDEBARAN      68
24                     SWIM TEAM LUGO A.S.D.      24
25                              UNISPORT ASD     336